<% include head %>
<% include header %>

<div class="c80 ma">
    <div id="register" class="box c33 ma">
        <h1>Register</h1>

        <form action="/register" method="post">
            <fieldset>
                <legend></legend>
                <label for="username">Username</label>
                <input type="text"  id="username" name="username" autofocus /><br />
                <label for="password">Password</label>
                <input type="password" id="password" name="password" /><br/>
                <input id="submit" class="submit" name="submit" type="submit" value="Register" />

            </fieldset>
        </form>
    </div>
</div>

<% include footer %>